{% extends "layout.html" %}
{% block body %}
 <div class="row">
  <div class=" small-12 columns">
    <h4>All Tasks</h4>
  </div>
 </div>

 {% for task in tasks %}
  <div class="row">
   <div class=" small-10 columns">
    <strong> {{task.t_name}}:</strong>  {{task.t_units}}
   </div>
  </div>
  <div class="row">
   <div class ="small-12 columns">
      <div class="right">
        <ul>
         <li><a class ="submitlink" href="{{ url_for("tasksb.show_task", id=task.id) }}"> See Details</a></li>
         <li><a class ="submitlink" href="{{ url_for("tasksb.delete_task", id=task.id) }}">   Delete Link</a></li>
         <li><a class = "submitlink" href="{{ url_for("tasksb.update_task", id=task.id) }}">   Update Link</a></li>
        </ul>
      </div>
    </div>
  </div>

 <div class="row">
  <hr>
 </div>

 {% endfor %}
{% endblock %}
