{% extends "layout.html" %}
{% block body %}
{% if current_user.is_authenticated() %}
 <div class="row">
  <div class=" small-12 columns">
    <strong> {{task.t_name}}:</strong> {{task.t_units}}
  </div>
 </div>

 <form id="add_stat_form" method="POST">
     {{ form.hidden_tag() }}
     <div class="row">
       <div class="large-12 columns">
         Date {{ form.tr_date }}
       </div>
     </div>
     <div class="row">
       <div class="large-12 columns">
         Value {{ form.tr_value }}
       </div>
     </div>
     <div class="row">
       <div class="large-12 columns">
       <input class ="button tiny add-stat" data-task-id="{{ task.id }}" type="submit" value="Add or Update Data">
     </div>
   </div>
 </form>

 <div class="row">
  <div class ="small-12 columns">
    <img src="{{ url_for("tasksb.stat_chart", id=task.id) }}" />
  </div>
</div>
<div class="large-8 large-offset-2 columns">
    <table>
     <thead>
       <tr>
         <th width="200">Date</th>
         <th width="150">Value</th>
       </tr>
     </thead>
     <tbody>
       <h4>Values</h4>
 {% for stat in stats %}

  <div class="stat_rows">
   <tr class="stat_row">
    <td <strong> {{stat.tr_date}}:</strong></td>
    <td>  {{stat.tr_value}}</td>
  </tr>
  </div>
 {% endfor %}
</tbody>
   </table>
   {% else %}
   <div class="row">
     <div class="large-12 columns">
       Please Login
     </div>
   </div>

   {% endif %}

{% endblock %}
