{% extends "layout.html" %}

{% block body %}
<div>
<a href ="{{ url_for('users.index') }}"><button type="button">Return to Index</button></a>
</div>
<br>

<div>
  <h2>{{ enterprise.ent_name }}</h2>
</div>

<form method="POST" action="{{ post_url }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.value(size=20) }} {{ enterprise.ent_unit }}
  </div>
  <div>
    {{ form.recorded_at(size=20) }}
  </div>

  <br>

  <div>
    <input type="submit" value="Create">
  </div>
</form>


<br>

<table>
  <thead>
    <tr>
      <th> Date </th>
      <th> {{ enterprise.ent_unit }} </th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
  </thead>
  {% for stat in stat_list %}

  <tr>
    <td> {{ stat.recorded_at.date() }} </td>
    <td> {{ stat.value }} </td>
    <td> <a href= "{{ url_for('enterprises.edit_stats', id=stat.id) }}">Edit</a>
    <td> <a href= "{{ url_for('enterprises.delete_stats', id=stat.id) }}">Delete</a>
  </tr>

{% endfor %}

</table>

{% for message in get_flashed_messages() %}
<div class="flash">
  {{ message }}
</div>
{% endfor %}

<div>
  <br>
  <br>
</div>
<div>

</div>

{% endblock %}
