{% extends "layout.html" %}

{% block body %}




<div>
  <h1>{{ enterprise.ent_name }}</h1>
</div>

<table>
  <thead>
  <tr>
    <th> Date </th>
    <th> {{ enterprise.ent_unit }} </th>
  </tr>
  </thead>
  {% for stat in enterprise.stats[:30] %}

    <tr>
      <td> {{ stat.recorded_at.date() }} </td>
      <td> {{ stat.value }} </td>
    </tr>
</table>
  {% endfor %}

  <img src="{{ url_for('enterprises.enterprise_chart', id=enterprise.id) }}">
<div>
  <br>
  <br>
</div>
<div>

</div>

{% endblock %}
