{% extends "layout.html" %}

{% block body %}

<a href ="{{ url_for('users.index') }}"><button type="button">Return to Index</button></a>

<br>
<br>

<div>
  <h2>{{ enterprise.ent_name }}</h2>
</div>

<br>

<table>
  <thead>
  <tr>
    <th> Date </th>
    <th> {{ enterprise.ent_unit }} </th>
  </tr>
  </thead>
  {% for stat in stat_list %}

    <tr>
      <td> {{ stat.recorded_at.date() }} </td>
      <td> {{ stat.value }} </td>
    </tr>
  {% endfor %}
</table>

  <img src="{{ url_for('enterprises.enterprise_chart', id=enterprise.id) }}">
<div>
  <br>
  <br>
</div>
<div>

</div>

{% endblock %}
