{% extends "layout.html" %}

{% block body %}


{% if not current_user.is_authenticated() %}
<div>
  <a href="{{ url_for('users.register') }}">Register</a>
</div>
<div>
  <a href="{{ url_for('users.login') }}">Login</a>
</div>
{% endif %}



  {% if current_user.is_authenticated() %}
<div>
  Welcome {{ current_user.name }}
</div>

<div>
  <a href="{{ url_for('users.logout')}}">Logout</a>
</div>

<div>
  <br>
  <a href ="{{ url_for('enterprises.create_enterprise') }}"><button type="button">Add an enterprise!</button></a>
</div>

<div>
  <h1>Your Enterprises</h1>
</div>

{% for enterprise in enterprise_list %}

<div>
  {{ enterprise.ent_name }}
</div>

<div>
  <a href = "{{ url_for('enterprises.add_stats', id=enterprise.id) }}"><button type="button"> Add Data </button></a>
</div>
<div>
  <a href = "{{ url_for('enterprises.view_stats', ent_id=enterprise.id) }}"><button type="button"> View Data </button></a>
</div>
<div>
  <a href = "{{ url_for('enterprises.edit_page', id=enterprise.id) }}"><button type="button"> Edit Data </button></a>
</div>

<div>
  <br>
</div>
{% endfor %}



{% endif %}


{% endblock %}
