{% extends "layout.html" %}

{% block body %}
<fieldset>
  <h1>{{ a.name }}</h1>
    <p1>Between {{ start }} and {{ stop }}</p1>
    <div class="large-12 columns">
      <fieldset>
          <form action='{{ set_range }}' method='POST'>
            {{ form.hidden_tag() }}
            <div>
              {{ form.start.label }} {{ form.start(size=100) }}
              {{ form.stop.label }} {{ form.stop(size=100) }}
            </div>
            <div>
              <input type='Submit' value='Chart It!'>
            </div>
          </form>
        </fieldset>
    </div>
    <img src="{{ url_for('activities.a_chart', id=a.id, start=start, stop=stop) }}" />
  </fieldset>
{% endblock %}
