{% extends "layout.html" %}

{% block body %}
<div class='large-12 columns'>
<fieldset>
  <img src="/static/img/logo.png"/>
  <h4 align='center'> A service to quantify and monitor the activities of your day.</h4>
</fieldset>
  <img src="/static/img/jeffwecan.png">
    <div class='caption'>
      <fieldset>
        <em>One must have a good memory to be able to keep the promises that one makes.</em><br>
              - Friedrich Nietzsche<br>
        <em>Jeff We Can!</em><br>
            - Jeff the Diseased Lung in a Cowboy Hat
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
