{% extends "layout.html" %}

{% block body %}

<div class='caption'>
<fieldset>
  <h3> Self dot Quantify is a service that allows you to create and monitor the various activities of your life,
    with the intended goal of using this knowledge to further yourself along the path of progress! Sign up today
    and start your journey of growth and enlightenment!</h3>
</fieldset>
<img src="/static/img/jeffwecan.png">
<div class='caption'><em>One must have a good memory to be able to keep the promises that one makes.</em><br>
        - Friedrich Nietzsche</div>

{% endblock %}
