{% extends "layout.html" %}

{% block body %}


  {% if not current_user.is_authenticated() %}
    <center>
      <u><h2>Login/Register</h2></u>
      <br>
      <div>If already registered, please Log In.</div>
      <br>
      <form action="/login">
        <input type="submit" value="Log In"  class="button round">
      </form>
      <br>
      <div>If you are a new user, Continue to Register.</div>
      <br>
      <form action="/register">
        <input type="submit" value="Register"  class="button round">
      </form>
    </center>


  {% else %}

      <center><h3>What would like to like to start tracking?</h3></center>
      <table>
      <form method="POST" action="{{ url_for("activity.act") }}">
        {{ form.hidden_tag() }}
          <div class="row">
            <div>
              {{ form.title.label }} {{ form.title(size=50) }}
            </div>
          <br>
          <div>
              {{ form.value.label }} {{ form.value(size=50) }}
          </div>
          <br>
          <div>
              {{ form.description.label }} {{ form.description(size=50) }}
          </div>
          <div>
              {{ form.recorded_at.label }} {{ form.recorded_at(size=20) }}
          </div>
          <br>

          <br>
          <input type="submit" value="Submit" class="button round">
          <br><br><br>
        </div>
      </form>

        <div class = "row">
        <strong><h2><u>Tracked Activities</u></h2></strong>
        <br>
          <div>
                {% for activity in current_user.activities %}
                <u><h2><a href ='{{url_for("activity.view_activity", id=activity.id)}}'>
                {{ activity.title }}
                </a></h2></u>
                <a class='button tiny alert' href='{{url_for("activity.delete_activity", id=activity.id) }}'>Delete Activity</a>
                <a class='button tiny alert' href='{{url_for("activity.edit_activity", id=activity.id) }}'>Edit Activity</a>
                {% endfor %}
            </div>
          </div>
      </table>
  {% endif %}

{% endblock %}
