{% extends "layout.html" %}

{% block body %}
  <div class='row'>
    {{ form.hidden_tag() }}
    <div class="small-8 columns">
      <fieldset>
        <legend>Log Your Progress</legend>

        {% if get_flashed_messages() %}
          {% for message in get_flashed_messages() %}
            <div data-alert class="alert-box">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <form  method='POST' action="{{ url_for("items.add_log") }}">
          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.item_id.label }}</label>
            </div>
            <div class="small-9 columns">
              <select id="item_id" name="item_id">
                <option default> Select an Activity </option>{% for name in form.item_id %}
                <option value='{{ name }}' hidden value=''>{{ name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.value.label }}</label>
            </div>
            <div class="small-9 columns">
              <input name='value' type="integer" placeholder="Completion value" />
            </div>
          </div> <br>

          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.logged_at.label }}</label>
            </div>
            <div class="small-9 columns">
              <input name='logged_at' type="date"/>
            </div>
          </div>

          <button type="submit" class='button tiny'>Log This Activity</button>
        </form>
      </fieldset>
    </div>
  </div>


  <div class='row'>
    <div class="small-8 columns">
      <fieldset>
        <legend>Your Current Activities</legend>
        <div class="row">
          <div class="small-8 columns">
            {% for activity in current_activities %}
            {% if activity.name %}
            <ul class="vcard" >
              <li>Name: {{ activity.name }} </li>
              {% if activity.description %}
              <li>Description: {{ activity.description }}</li>
              {% endif %}
              {% if activity.goal %}
              <li>Goal: {{ activity.goal }}</li>
              {% endif %}
                <a href='/dashboard/activity/delete/{{ activity.id }}'><img width='15' src='/static/delete.png'></a>
                <a href='/dashboard/activity/edit/{{ activity.id }}'><img width='15' src='/static/edit.png'></a>
                <a href='/dashboard/activity/chart/{{ activity.id }}'><img width='15' src='/static/chart.png'></a>
              </form>
            </ul>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </fieldset>
    </div>
  </div>

{% endblock %}
