{% extends "layout.html" %}

{% block body %}

{% if get_flashed_messages() %}
  {% for message in get_flashed_messages() %}
    <div data-alert class="alert-box">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

  <div class='row'>

    <div class="small-8 columns">
      <fieldset>
        <legend>Log Your Progress</legend>



        <form id='log_form'  method='POST' action="{{ url_for("items.add_log") }}">
          {{form.hidden_tag()}}
          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.item_id.label }}</label>
            </div>
            <div class="small-9 columns">
              <select id="item_id" name="item_id">
                <option default> Select an Activity </option>{% for name in form.item_id %}
                <option value='{{ name }}' hidden value=''>{{ name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.value.label }}</label>
            </div>
            <div class="small-9 columns">
              <input name='value' type="integer" placeholder="Completion value" />
            </div>
          </div> <br>

          <div class="row">
            <div class="small-3 columns">
              <label>{{ form.logged_at.label }}</label>
            </div>
            <div class="small-9 columns">
              <input name='logged_at' type="date"/>
            </div>
          </div>

          <button id='submit_log' type="submit" class='button tiny'>Log This Activity</button>
        </form>
      </fieldset>
    </div>
  </div>


  <div class='row'>
    <div class="small-8 columns">
      <fieldset>
      <legend>Most Recent Logs</legend>
        <table>
          <thead>
            <tr>
              <th>Activity</th>
              <th>Date</th>
              <th>Log Value</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for log in all_logs %}
            <tr class='logs'>
              <td>{{ log.item.name }}</td>
              <td>{{ log.logged_at }}</td>
              <td>{{ log.value }}</td>
              <td><a href='/dashboard/log/edit/{{ log.id }}'><i class="fa fa-pencil-square-o editLog"></i></a></td>
              <td><a href='/dashboard/log/delete/{{ log.id }}'><i class="fa fa-times"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>

{% endblock %}
