<!doctype html>
{% extends "layout.html" %}
{% block body %}
<br></br>
<h1>Stats on Your Activity</h1>
<h3>{{activity.title}}</h3>
<h2>Update Activity</h2>
<br></br>
<form  method="POST" class = "submit_instance">
  {{ form.hidden_tag() }}
  <div>
    {{ form.freq.label }} {{ form.freq(size=10) }}
  </div>
  <input class="add_instance" type="submit" value="add!">
</form>


<h3>data</h3>

<table class = "stats">
{% for instance in instances %}

  <th> Date </th>
  <th>{{ activity.unit}}</th>

  <tr>
    <td>{{ instance.date }} </td>
    <td> {{ instance.freq }} </td>
    <td><form action = {{url_for("stats.edit_instance", id = instance.id)}}>
        <input class="button" type=submit value="edit" input/>
      </form> </td>
  </tr>

{% endfor %}
</table>


<br></br>
<h1>{{activity.title}} Data </h1>
{{click_data}}
<iframe width="550" height="550" frameborder="0" seamless="seamless" scrolling="no" src="{{ chart_url }}"></iframe>
{% endblock %}
