{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for("users.register") }}">
        {{ form.hidden_tag() }}
      <center>
        <u><h2>Register</h2></u>
      </center>
        <div>
            {{ form.name.label }} {{ form.name(size=20) }}
        </div>
        <br>
        <div>
            {{ form.email.label }} {{ form.email(size=20) }}
        </div>
        <br>
        <div>
            {{ form.password.label }} {{ form.password(size=20) }}
        </div>
        <br>
        <div>
            {{ form.password_verification.label }} {{ form.password_verification(size=20) }}
        </div>
        <br><br>
        <input type="submit" value="Register" class="button round">

    </form>
{% endblock %}
