{% extends "layout.html" %}

{% block body %}

  <div class="row">
    <div class="small-12 columns">
      <center><div class="label-success"><h1>{{ activity.name}}</h1></div></center>
    </div>
  </div>
  <div class="row">
    <div class="small-4 medium-4 large-4 columns">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>{{ activity.unit }}</th>
            </tr>
        </thead>
    {% for stat in activity.stats %}
        <tbody>
          <tr>
            <td><a href='/stats/{{ stat.id }}/edit'>{{ stat.date.date() }}</a></td>
            <td>{{ stat.value }}</td>
          </tr>
        </tbody>
    {% endfor %}
    </table>
  </div>
    <br><br>
    <div class="center small-8 medium-8 large-8 columns">
      <div class="stat{{ activity.id }}"></div>
    </div>
  </div>

<script type="text/javascript">

    var dataset = {{ data | tojson }};
    var min = Math.min.apply(null, dataset);
    var max = Math.max.apply(null, dataset);
    d3.select(".stat{{ activity.id }}").selectAll("p")
    .data(dataset)
    .enter()
    .append("div")
    .attr("class", "horizontalBar")
    .style("width", function(d) {
    var barHeight = (d - min + 1) / (max-min) * 300;
    return barHeight + 'px';
            });

</script>

{% endblock %}