{% block unitgoalblock %}

    <div class="unitblock">
        <form action="{{ url_for("activity.update_value", user=user, activity_name=activity.name) }}" method="POST">
            <row>
                {% if activity.id in todays_goals %}
                <input type="number" class="number tiny" id="unit_value" value="{{ todays_values[activity.id] }}">
                {% else %}
                <input type="number" class="number tiny" id="unit_value" value="0">
                {% endif %}
            </row>
            <row>
                <div class="small-4 columns">
                    <input type="submit" class="button tiny" value="Update">
                </div>
                <div class="small-7 columns">
                    <a href="{{ url_for("activity.visualize", user=user, activity_name=activity.name) }}" class="button tiny">Visualize It!</a>
                </div>
            </row>
        </form>
    </div>
{% endblock %}