{% extends "layout.html" %}

{% block body %}



<div class='row'>
  <div class="large-8 columns">
    <h1>Activity Logs</h1>
    <fieldset>
    <legend>Most Recent Logs</legend>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
        <div data-alert class="alert-box">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
      <table>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Date</th>
            <th>Log Value</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for log in all_logs %}
          <tr>
            <td>{{ log.item.name }}</td>
            <td>{{ log.logged_at }}</td>
            <td>{{ log.value }}</td>
            <td><a href='/dashboard/log/edit/{{ log.id }}'><img width='15' src='/static/edit.png'></a></td>
            <td><a href='/dashboard/log/delete/{{ log.id }}'><img width='15' src='/static/delete.png'></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>

{% endblock %}
