{% extends 'layout.html' %}
{% block body %}
{% if activity.type == 'clicker' %}
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Occurrences</th>
            </tr>
            </thead>
            <tbody>
             {% for stat in activity.stat_id[:10] %}
            <tr>
                <td><a href="{{  url_for("edit_stat", id=stat.id) }}"> {{ stat.when }}</a></td>
                <td>{{ stat.occurrences }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
<iframe width="550" height="550" frameborder="0" seamless="seamless" scrolling="no" src="{{ chart_url }}"></iframe>

{% elif activity.type == 'yes_no' %}
    {% for stat in activity.stat_id %}
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Occurrences</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in activity.stat_id[:10] %}
            <tr>
                <td><a href="{{  url_for("edit_stat", id=stat.id) }}"> {{ stat.when }}</a></td>
                <td>{{ stat.yes_no }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% elif activity.type == 'scale' %}
    {% for stat in activity.stat_id %}
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Occurrences</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in activity.stat_id[:10] %}
            <tr>
                <td><a href="{{  url_for("edit_stat", id=stat.id) }}"> {{ stat.when }}</a></td>
                <td>{{ stat.scale }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}
{% endblock %}